body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5em;
    color: #333;
    margin-top: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;  /* Ajout de la propriété flex */
    justify-content: center;  /* Centre les éléments horizontalement */
}

li {
    margin: 0 10px;  /* Ajout de marges pour séparer les boutons */
}

/* Styles généraux pour tous les liens */
a {
    text-decoration: none;
    color: #333;
}

/* Styles spécifiques pour les liens avec la classe "lien-styled" */
a.lien-styled {
    font-weight: bold;
    border: 2px solid #333;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

a.lien-styled:hover {
    background-color: #333;
    color: white;
    border: 2px solid #333;
}

.tp-item {
    display: flex;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
}

.tp-left, .tp-right {
    flex: 1;
    padding: 10px;
}

.tp-left {
    border-right: 1px solid #ddd;
    background-color: #f9f9f9;
}

.tp-left h2, .tp-right h2 {
    margin-top: 0;
}

.tp-right {
    background-color: #f9f9f9;
}

/* Media Query pour les petits écrans comme les téléphones */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    ul {
        flex-direction: column;
    }

    li {
        margin: 10px 0;
    }
}
